.right-section{
    background-color: #111827;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
  }

/* Guideline Checkbox */
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  color: #b5c0d0 !important;
}

.guideline-list{
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.guideline-list-custom{
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  gap: 15px;
}

.guideline-header{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.form-group{
  height: 400px;
  overflow-y: auto;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  border: "2px solid white" !important;
}

.output-header{
  display: flex;
  flex-direction: row;
}

.loading-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
