.right-section{
    background-color: #111827;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
  }

/* Guideline Checkbox */
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  color: #b5c0d0 !important;
}