.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-body{
  display: flex;
  flex-direction: row;
  
}

.left-section{
  background: #050c1b;
  width: 60%;
  padding: 20px;
  margin-top: 20px;
}


.right-section{
  background-color: #111827;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
}

.Select{
  color: white;
  background: white;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
  color: white !important;
}

/* Language drop down */
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  background: #1d2432 !important;
  color: white !important;
}

.monaco-editor{
  background-color: #1d2432 !important;
  border-radius: 10%;
}

.monaco-editor, 
.monaco-editor-background, 
.monaco-editor .inputarea.ime-input, 
.monaco-editor .margin, 
.monaco-editor .minimap,
.decorationsOverviewRuler {
  background-color: #1d2432 !important;
}

/* Checkbox */
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  color: #b5c0d0 !important;
}

/* Language Drop down icon */
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color: aliceblue;
}

/* Editor minimap */
.minimap-decorations-layer {
  background-color: inherit;
  width: 0;
}

.monaco-scrollable-element>.invisible {
  background-color: #1d2432 !important;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  background: #050c1b;
  color: white;
}

.navbar{
  height: 50px;
  width: 100%;
  background-color: #39424e;
  padding: 0;
  margin-top: 0;
  position: absolute;
}

.navbar > p{
  color: white;
  margin-left: 30px;
  font-size: larger;
  font-weight: 900;
}
/* @media screen {
  
} */