.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-body{
  display: flex;
  flex-direction: row; 
  width: fit-content;
}

/* ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  background: #050c1b;
  color: white;
} */

.navbar{
  height: 50px;
  display: flex;
  width: 100%;
  background-color: #39424e;
  padding: 0;
  margin-top: 0;
  position: absolute;
  align-items: center;
}

.navbar > p{
  color: white;
  margin-left: 30px;
  font-size: larger;
  font-weight: 900;
}
/* @media screen {
  
} */