/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(208, 206, 203) rgb(235, 234, 231);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(243, 241, 238);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(208, 206, 203);
    border-radius: 20px;
    border: 3px solid rgb(235, 234, 231);
  }